@media (min-width:1200px){
    .blog-entry img {
      width: 350px;
  }
  }
  
  .blog-entry img {
    max-width: 100%;
    object-fit: cover;
  }
  
  .blog-content-body {
    min-height: 93px;
  }
  
  .blog-entry .blog-content-body {
    padding: 20px 12px 10px;
  }
  
  .blog-entry h2 {
    font-size: 18px;
    line-height: 1.5;
    font-family: SFDistantGalaxy;
  }
  .blog-entry:hover img {
    opacity: .7;
    filter: brightness(65%);
}
  .blog-entry:hover {
    top: -1px;
}

.blog-entry::before {
  font-family: FontAwesome;
  content: '\f055';
  color: #FFE300;
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: all .9s;
  z-index: -1;
}

.blog-entry:hover::before {
  top: 25%;
  text-align: center;
  z-index: 10;
}