.page-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 2em;
    margin: 0 auto;
}

.character-box{
    width: 30%;
    margin: 15px 0;
    display: block;
    margin: 0 auto;
    padding: 5px;
}



.character-content-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:791px){
    .character-box {
        width: 100%;
    }
}