* {
  overflow:auto;
  }

#root {
  display: block;
  margin: 0 auto;
  width: 100%;
  }

  button {
    background: #333;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.blog-entry {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.content{
  width: 30%;
  margin: 15px 0;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width:1200px){
  .blog-entry img {
    width: 350px;
}
}

.blog-entry img {
  max-width: 100%;
  object-fit: cover;
}

.blog-content-body {
  min-height: 93px;
  background: #fff;
}

.blog-entry .blog-content-body {
  padding: 20px 12px 10px;
  border: 1px solid #efefef;
  border-top-color: rgb(239, 239, 239);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: none;
}

.blog-entry h2 {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
.episode-thumbnail{
  width:500px;
}

/* Menu items */
@media (min-width:792px){
  .menu{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .menu li{
    padding: 10px
  }
}
/* Hide menu toggle button on desktop and tablet */
@media (min-width:792px){
  .navbar-toggler{
    display:none;
  }
}
/* Single Character page */
.starship-thumbnail {
  width: 160px;
}
.starships-list {
  list-style: none;
}
.characters{
  list-style: none;
}