* {
  overflow:auto;
  }

#root {
  display: block;
  margin: 0 auto;
  width: 100%;
  }

 

  @font-face {
    font-family: 'SFDistantGalaxy';
    src: local('SFDistantGalaxy'), url(./fonts/SFDistantGalaxy.ttf) format('truetype');
  }

  @media (min-width:1100px){
    .site-wrapper {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
    .left-container {
      float: left;
      width: 44%;
  }
  }

  .logo {
    font-family: 'SfDistantGalaxy';
    color: #FFE300 !important;
    font-size: 26px;
  }
  button {
    background: #333;
    color: #f8e35a !important;
    font-size: 17px !important;
    font-weight: 700;
    padding: 9px;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.blog-entry {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.content{
  width: 33%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}


a {
  text-decoration: none;
}

/* Menu */
#navbarResponsive {
  background: #000;
  margin-bottom: 20px;
}
/* Menu items */
.menu li a {
  color: #4BD5EE;
}
@media (min-width:793px){
  .menu{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .menu li{
    padding: 0 10px
  }
}
/* Hide menu toggle button on desktop and tablet */
@media (min-width:792px){
  .navbar-toggler{
    display:none;
  }
}
@media (max-width:792px){
  #navbarResponsive {
    margin-top: 10px;
    margin-bottom: 10px;
}
  .collapse {
    display: none;
  }
  .show{
    display: block;
  }
  .menu{
    list-style: none;
    padding: 0;
  }
  .content {
    width: 100%;
  }
}

.center-text{
  display: block;
  margin: 0 auto;
  padding: 30px;
  color: red;
}
.loading {
  display: block;
  margin: 0 auto;
  padding: 30px;
}
